@import "../variables";

.chart-container {
    background-color: $tile-background-color;
    padding-bottom: 1.4rem;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.4rem;
    // height: 20rem;
}
