@import "../variables";

.dialog {
    margin-top: 1rem;
}

.button {
    color: $primary-color;
}

.important-button {
    background-color: $primary-color;
    color: #fff;
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

.tile-icon {
    @include md-icon-size(32px);
    color: $primary-color;
}

.tile-header-text {
    font-weight: 400;
    font-size: 1.5rem;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $primary-color !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primary-color;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $primary-color !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $primary-color !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $primary-color !important;
}
