@import "../variables";

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}
  
.tile-icon {
    @include md-icon-size(32px);
    display: inline-flex;
    vertical-align: middle;
}

.tile-header-text {
    padding-left: 2px;
    font-weight: 400;
    font-size: 1.5rem;
}

.tile-content-text {
    text-align: center;
    width: 100%;
    font-size: 3em;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
}