.col3 {
    background-color: lightcoral;
}

.col1 {
    background-color: lightgreen;
}

.col2 {
    background-color: lightblue;
}

// .tile-margin {
//     margin: 15px;
// }

// .chart {
//     height: 20rem;
// }

div button {
    color: red;
    background-color: limegreen;
}

#test {
    background-color: magenta;
}